[mgr]

keymap = [
	{ on = "<Esc>", run = "escape", desc = "Exit visual mode, clear selected, or cancel search" },
	{ on = "Q", run = "close", desc = "Close the current tab, or quit if it's last" },

	# Hopping
	{ on = "u", run = "arrow -1", desc = "Move cursor up" },
	{ on = "j", run = "arrow 1",desc = "Move cursor down" },

	{ on = "U", run = "arrow -5", desc = "Move cursor 5 up" },
	{ on = "J", run = "arrow 5",desc = "Move cursor 5 down" },

	{ on = [ "g", "g" ], run = "arrow top", desc = "Move cursor to the top" },
	{ on = "G",run = "arrow bot",desc = "Move cursor to the bottom" },

	# Navigation
	{ on = "h", run = "leave", desc = "Go back to the parent directory" },
	{ on = "K", run = "enter", desc = "Enter the child directory" },

	# Visual mode
	{ on = "v", run = "visual_mode", desc = "Enter visual mode (selection mode)" },
	{ on = "V", run = "visual_mode --unset", desc = "Enter visual mode (unset mode)" },

	# Spotting
	{ on = "<Tab>", run = "spot", desc = "Spot hovered file" },

	# Operation
	{ on = "<Enter>", run = "open --interactive",desc = "Open selected files interactively" },
	{ on = "y", run = "yank",desc = "Yank selected files (copy)" },
	{ on = "Y", run = "unyank",desc = "Cancel the yank status" },
	{ on = "p", run = "paste", desc = "Paste yanked files" },
	{ on = "d", run = "remove",desc = "Trash selected files" },
	{ on = ".", run = "hidden toggle", desc = "Toggle the visibility of hidden files" },
	{ on = "/", run = "search --via=fd", desc = "Search files by name via fd" },
	{ on = "f",					run = "filter --smart",							 desc = "Filter files" },
	{ on = "z", run = "plugin fzf",desc = "Jump to a file/directory via fzf" },
	{ on = "a", run = "create",desc = "Create a file (ends with / for directories)" },
	{ on = "r", run = "rename --cursor=before_ext",desc = "Rename selected file(s)" },
	{ on = ":",run = "shell --interactive", desc = "Run shell here" },

	# Copy
	{ on = [ "c", "p" ], run = "copy path", desc = "Copy the file path" },
	{ on = [ "c", "n" ], run = "copy filename", desc = "Copy the filename" },

	# Tasks
	{ on = "w",run = "tasks:show", desc = "Show task manager" },

	# need plugin "smart-enter.yazi"
	# ya pkg add yazi-rs/plugins:smart-enter
	{ on = "k",run = "plugin smart-enter", desc = "Enter the child directory, or open the file" },

	# Help
	{ on = "~",run = "help", desc = "Open help" },
]

[tasks]

keymap = [
	{ on = "w", run = "close", desc = "Close task manager" },

	{ on = "u", run = "arrow prev", desc = "Previous task" },
	{ on = "j", run = "arrow next", desc = "Next task" },

	{ on = "<Enter>", run = "inspect", desc = "Inspect the task" },
	{ on = "x", run = "cancel",desc = "Cancel the task" },

	# Help
	{ on = "~",run = "help", desc = "Open help" },
]

[pick]

keymap = [
	{ on = "<Esc>", run = "close",desc = "Cancel pick" },
	{ on = "<Enter>", run = "close --submit", desc = "Submit the pick" },

	{ on = "u", run = "arrow prev", desc = "Previous option" },
	{ on = "j", run = "arrow next", desc = "Next option" },

	# Help
	{ on = "~",run = "help", desc = "Open help" },
]

[input]

keymap = [
	{ on = "<Esc>", run = "escape", desc = "Back to normal mode, or cancel input" },
	{ on = "S", run = "close --submit", desc = "Submit input" },

	# Mode
	{ on = "i", run = "insert",desc = "Enter insert mode" },
	{ on = "a", run = "insert --append", desc = "Enter append mode" },
	{ on = "I", run = [ "move first-char", "insert" ], desc = "Move to the BOL, and enter insert mode" },
	{ on = "A", run = [ "move eol", "insert --append" ], desc = "Move to the EOL, and enter append mode" },
	{ on = "v", run = "visual",desc = "Enter visual mode" },
	{ on = "r", run = "replace", desc = "Replace a single character" },

	# Character-wise movement
	{ on = "h", run = "move -1", desc = "Move back a character" },
	{ on = "k", run = "move 1",desc = "Move forward a character" },

	# Word-wise movement
	{ on = "b", run = "backward",desc = "Move back to the start of the current or previous word" },
	{ on = "B", run = "backward --far",desc = "Move back to the start of the current or previous WORD" },
	{ on = "w", run = "forward", desc = "Move forward to the start of the next word" },
	{ on = "W", run = "forward --far", desc = "Move forward to the start of the next WORD" },
	{ on = "e", run = "forward --end-of-word", desc = "Move forward to the end of the current or next word" },
	{ on = "E", run = "forward --far --end-of-word", desc = "Move forward to the end of the current or next WORD" },

	# Delete
	{ on = "<Backspace>", run = "backspace", desc = "Delete the character before the cursor" },

	# Line-wise movement
	{ on = "0",run = "move bol",desc = "Move to the BOL" },
	{ on = "$",run = "move eol",desc = "Move to the EOL" },
	{ on = "_",run = "move first-char", desc = "Move to the first non-whitespace character" },
	{ on = "^",run = "move first-char", desc = "Move to the first non-whitespace character" },

	# Undo/Redo/Casefy
	{ on = [ "L", "L" ], run = "undo", desc = "Undo, or lowercase if in visual mode" },
	{ on = "<C-r>", run = "redo", desc = "Redo the last operation" },

	# Help
	{ on = "~",run = "help", desc = "Open help" },
]
